*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}

body{
    font-family: Arial, sans-serif;
    font-size:16px;
}

/* LOGIN PAGE */

section.section-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

div.form-container{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

div.form-container h1{
    text-align: center;
    margin-bottom: 20px;
}

form.login-form{
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form.login-form label{
    font-size: 14px;
    font-weight: bold;
    display: block;
}

form.login-form input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form.login-form input[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form.login-form input[type="submit"]:hover{
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

span.error{
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

section.admin-panel{
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
}

section.admin-panel aside.admin-menu{
    width: 100%;
    max-width: 250px;
    height: 100vh;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* ADMIN PAGE*/

header.header-admin{
    background-color: #333;
    color: #fff;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}
 header.header-admin img.logo{
    width: 50px;
    margin: 0 20px;
 }

 header.header-admin div{
    display: flex;
    align-items: center;
    gap: 24px;
 }

 .logout-button{
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
 }

 .logout-button:hover{
    background-color: #c82333;
 }

 header.header-admin p.welcome{
    font-size: 18px;
    font-weight: bold;
 }

 /* MOBILE */

 div.form-container{
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}